*
{
    margin: 0;
    padding: 0;
}

body
{
   background-image: url('pexels-nao-triponez-129208.jpg');
     background-size: contain;
     background-repeat: no-repeat;  
     /* background-color:black; */
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
}
h6{
    font-size:100px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-left:-700px;
    text-shadow: 10px 6px 9px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h6:hover
{
color: black;
}
.intro
{
    background-image: url('/Used Electronics/aplleimages/pexels-nao-triponez-129208.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    
}
nav
{
    margin-top: 10px;
   background-color: rgba(0, 0, 0, 0.247);
    /* position: fixed; */
   height: 30px;
 
   
  
}
ol
{
   
    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: small;
    margin-left: 70%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.791);
    padding-left: 30px;
    border-radius: 30px;
   
}
li
{
    margin-right: 40px;
    position: relative ;
    margin-top: 6px;
}
a:link
{
    text-decoration: none;
    color: rgba(242, 239, 239, 0.57);
    
}
:any-link
{
    color: rgba(242, 239, 239, 0.57);
}
a::after
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.57);
    
}
.about
{
    /* height: 85vh;; */
}
p
{
    color: white;
    font-size: 20px;
}
h1{
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.57);
}
.aboutp
{
    margin-left: 60%;
    margin-top: 200px;
}
/* buy macbook */
.Mac
{
    height: auto;
/* background-image: url('/Used Electronics/aplleimages/pexels-anni-roenkae-2693212.jpg');
background-size: cover;
background-repeat: no-repeat; */
/* background-color: rgb(0, 0, 0); */
}
h2
{
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.247);
    font-size: 60px;
}
.card
{
    height: 300px;
    width: 350px;
    background-color: white;
    border-color: white;
    border-style: solid;
     margin-top: 30px; 
    padding-top: 10px 10px 10px 10px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px;

}
.card:hover
{
    background-color: rgb(0, 251, 175);
}
.macpic
{
    margin-left:40px ;
    margin-top: 20px;
    box-shadow: 5px 10px 30px black;
    border-radius: 20px;
}

.buynow
{
   
    height: 30px;
    width: 100px;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-left:50%;
    box-shadow: 5px 10px 30px black;
}

.buynow:hover
{
    background-color: white;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5
{
    margin-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
   
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* iphoneee  */

.card2
{
    height: 420px;
    width: 350px;
    background-color: white;
    border-color: white;
    border-style: solid;
     margin-top: 10px; 
    padding-top: 10px 10px 10px 10px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px;

}
.card2:hover
{
    background-color: rgba(0, 255, 217, 0.957);
}
.ipic
{
    height:330px;
    width:250px;
    margin-left:50px ; 
    margin-top: 18px; 
    box-shadow: 5px 10px 30px black;
    border-radius: 20px;
}
.ibuynow
{
   
    height: 30px;
    width: 100px;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-left:50%;
    box-shadow: 5px 10px 30px black;
}

.ibuynow:hover
{
    background-color: white;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.iphonecollection
{
    color: rgba(0, 0, 0, 0.247);
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
   
    font-size: 60px;
}



.social
{

    list-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: small;
    background-color: black;
}
ul
{
    list-style: none;
    color: rgb(0, 0, 0);
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: black;
  
  
    
}

            
@media only screen and (max-width:600px) 
{
    nav
{
    margin-top: 10px;
   background-color: rgba(0, 0, 0, 0.247);
    /* position: fixed; */
   height: 30px;
  
 
   
  
}
    ol
    {
       
        list-style: none;
        color: rgb(255, 255, 255);
        display: flex;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        font-size: small;
        margin-left: 0%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.247);
       
    }


    .about
    {
        /* height: 85vh;; */
    }
    p
    {
        color: white;
        font-size: 10px;
        display:block;
    }
    h1{
        font-size: large;
        color: rgba(255, 255, 255, 0.57);
    }
    .aboutp
    {
        margin-left: 0%;
        margin-top: 50px;
    }

    h2
{
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1px;
    color: rgba(0, 0, 0, 0.247);
    font-size: 20px;
}
.card
{
   
    height: 400px;
    width: 310px;
    background-color: white;
    border-color: white;
    border-style: solid;
     margin-top: 30px; 
    padding-top: 10px 10px 10px 10px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px;

}
.card:hover
{
    background-color: rgb(0, 251, 175);
}
.macpic
{
    margin-left:35px;
    
    margin-top: 10px;
    box-shadow: 5px 10px 30px black;
    border-radius: 20px;
    height:270px;
     width:230px;
     align-items: center;
}

.buynow
{
   
    height: 20px;
    width: 70px;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-left:50%;
    box-shadow: 5px 10px 30px black;
}

.buynow:hover
{
    background-color: white;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5
{
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
   
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  iphoneee */
.card2
{
    height: 500px;
    width: 300px;
    background-color: white;
    border-color: white;
    border-style: solid;
     margin-top: 10px; 
    padding-top: 10px 10px 10px 10px;
    margin-left: 1px;
    border-radius: 30px;
    box-shadow: 6px 10px 30px;

}
.card2:hover
{
    background-color: rgba(0, 255, 217, 0.957);
}
.ipic
{
    height:370px;
    width:260px;
    margin-left:20px ; 
    margin-top: 5px; 
    box-shadow: 5px 10px 30px black;
    border-radius: 20px;
}
.ibuynow
{
   
    height: 20px;
    width: 60px;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin-left:50%;
    box-shadow: 5px 10px 30px black;
}

.ibuynow:hover
{
    background-color: white;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.iphonecollection
{
    color: rgba(0, 0, 0, 0.247);
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
   
    margin-left: 30px;
    
}
.iphones_sec
{
    margin-top:50vh;

    margin-left: 30px;
}
.intro
{
    background-image: url('/Used Electronics/aplleimages/pexels-nao-triponez-129208.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    
}
.Mac
{
    height:auto;
}
td 
{

    display: flex;
} 
ul 
{
    background-color: rgba(62, 61, 61, 0.485);

};
   
    
}

